﻿#container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}

#chessboard {
    width: 550px;
    height: 550px;
    padding: 15px; 
    position: relative;
    background: yellowgreen;    
}

#chessboard > .chessboard{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;

}

#col{
    width: 530px;
    height: 15px;
    display: flex;
    flex-direction: row;
    position: absolute;
    z-index: 2;
    top: 3px;
    left: 30px;
}

#col > div{
    width: calc(100% / 8);
    text-align: center;
}

#row{
    height: 530px;
    width: 15px;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 3px;
}

#row > div{
    width: 100%;
    height: calc(100% / 8);
    line-height: 57px;
}

.square:nth-child(-2n+8), 
.square:nth-child(8) ~ .square:nth-child(-2n+15), 
.square:nth-child(16) ~ .square:nth-child(-2n+24),
.square:nth-child(24) ~ .square:nth-child(-2n+31),
.square:nth-child(32) ~ .square:nth-child(-2n+40),
.square:nth-child(40) ~ .square:nth-child(-2n+47),
.square:nth-child(48) ~ .square:nth-child(-2n+56),
.square:nth-child(56) ~ .square:nth-child(-2n+63) {
    background-color: #000;
}

.square{
    width: calc((100% - 30px) / 8);
    height: calc((100% - 30px) / 8);
    border: 1px solid black;
    background: white;
    color: gold;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
}

.square.green{
    background-color: green !important;
}

.figure{
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
}